In [0]:
select SYS_EFFECTIVE_DATE, count(1)
from gap_catalog.ads_src_20250901.DLK_ADS_SMA_MONITOR_EVENTS_FULL s
group by SYS_EFFECTIVE_DATE
;

SELECT 
  CONCAT(
    'SELECT ', CHAR(39), table_name, CHAR(39), ' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM ', 
    table_catalog, '.', table_schema, '.', table_name, 
    ' GROUP BY SYS_EFFECTIVE_DATE UNION ALL '
  ) AS generated_sql
FROM gap_catalog.information_schema.tables
WHERE table_schema = 'ads_etl_owner'
  AND UPPER(table_name) LIKE 'DLK%'
ORDER BY table_name;
---------------------------------------------------------------------------------------------------------------
with src as (
SELECT 'dlk_ads_lov_rds_analyticaleventstatus' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_analyticaleventstatus GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_analyticaleventtypes' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_analyticaleventtypes GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_conditionfulfillmentevent' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_conditionfulfillmentevent GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_dispotransactiontype' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_dispotransactiontype GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_distraintactstate' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintactstate GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_distraintacttype' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintacttype GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_distrainteventtype' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distrainteventtype GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_distraintstate' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintstate GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_errormessagebs' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_errormessagebs GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_humantaskeventtype' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_humantaskeventtype GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_identificationaction' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identificationaction GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_identityregistrationaction' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identityregistrationaction GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_identityregistrationcasestates' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identityregistrationcasestates GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_mepoperationstate' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_mepoperationstate GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_mepoperationtype' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_mepoperationtype GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_personidentificationstate' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_personidentificationstate GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_lov_rds_sendnotificationstatus' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_sendnotificationstatus GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_rds_onboardingeligibilitycheckresult' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingeligibilitycheckresult GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_rds_onboardingidentificationresult' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingidentificationresult GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_rds_onboardingprocessresult' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingprocessresult GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_rds_onboardingprocessstate' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingprocessstate GROUP BY SYS_EFFECTIVE_DATE UNION ALL 
SELECT 'dlk_ads_rds_onboardingproductresult' AS table_name, SYS_EFFECTIVE_DATE, COUNT(1) AS cnt FROM gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingproductresult GROUP BY SYS_EFFECTIVE_DATE
)
select *,
count(1) over (partition by table_name) cnt_part
from src
order by table_name,SYS_EFFECTIVE_DATE;