In [0]:
-- ============================================================================
-- Script: Copy DLK tables from ads_owner to ads_etl_owner
-- Purpose: Clean and copy all DLK tables between schemas
-- Author: Data Engineer
-- Date: 2025-09-15
-- ============================================================================

-- Set transaction isolation for consistency
SET spark.sql.adaptive.enabled = true;

-- ============================================================================
-- 1. DLK_ADS_LOV_RDS_ANALYTICALEVENTSTATUS (526 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_analyticaleventstatus;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_analyticaleventstatus
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_analyticaleventstatus;

-- ============================================================================
-- 2. DLK_ADS_LOV_RDS_ANALYTICALEVENTTYPES (3,836 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_analyticaleventtypes;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_analyticaleventtypes
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_analyticaleventtypes;

-- ============================================================================
-- 3. DLK_ADS_LOV_RDS_CONDITIONFULFILLMENTEVENT (56 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_conditionfulfillmentevent;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_conditionfulfillmentevent
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_conditionfulfillmentevent;

-- ============================================================================
-- 4. DLK_ADS_LOV_RDS_DISPOTRANSACTIONTYPE (1,372 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_dispotransactiontype;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_dispotransactiontype
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_dispotransactiontype;

-- ============================================================================
-- 5. DLK_ADS_LOV_RDS_DISTRAINTACTSTATE (84 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintactstate;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintactstate
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_distraintactstate;

-- ============================================================================
-- 6. DLK_ADS_LOV_RDS_DISTRAINTACTTYPE (319 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintacttype;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintacttype
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_distraintacttype;

-- ============================================================================
-- 7. DLK_ADS_LOV_RDS_DISTRAINTEVENTTYPE (129 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distrainteventtype;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distrainteventtype
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_distrainteventtype;

-- ============================================================================
-- 8. DLK_ADS_LOV_RDS_DISTRAINTSTATE (154 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintstate;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintstate
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_distraintstate;

-- ============================================================================
-- 9. DLK_ADS_LOV_RDS_ERRORMESSAGEBS (5,987 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_errormessagebs;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_errormessagebs
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_errormessagebs;

-- ============================================================================
-- 10. DLK_ADS_LOV_RDS_HUMANTASKEVENTTYPE (519 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_humantaskeventtype;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_humantaskeventtype
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_humantaskeventtype;

-- ============================================================================
-- 11. DLK_ADS_LOV_RDS_IDENTIFICATIONACTION (279 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identificationaction;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identificationaction
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_identificationaction;

-- ============================================================================
-- 12. DLK_ADS_LOV_RDS_IDENTITYREGISTRATIONACTION (444 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identityregistrationaction;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identityregistrationaction
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_identityregistrationaction;

-- ============================================================================
-- 13. DLK_ADS_LOV_RDS_IDENTITYREGISTRATIONCASESTATES (114 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identityregistrationcasestates;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identityregistrationcasestates
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_identityregistrationcasestates;

-- ============================================================================
-- 14. DLK_ADS_LOV_RDS_MEPOPERATIONSTATE (232 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_mepoperationstate;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_mepoperationstate
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_mepoperationstate;

-- ============================================================================
-- 15. DLK_ADS_LOV_RDS_MEPOPERATIONTYPE (512 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_mepoperationtype;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_mepoperationtype
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_mepoperationtype;

-- ============================================================================
-- 16. DLK_ADS_LOV_RDS_PERSONIDENTIFICATIONSTATE (144 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_personidentificationstate;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_personidentificationstate
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_personidentificationstate;

-- ============================================================================
-- 17. DLK_ADS_LOV_RDS_SENDNOTIFICATIONSTATUS (39 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_lov_rds_sendnotificationstatus;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_lov_rds_sendnotificationstatus
SELECT * FROM gap_catalog.ads_owner.dlk_ads_lov_rds_sendnotificationstatus;

-- ============================================================================
-- 18. DLK_ADS_RDS_ONBOARDINGELIGIBILITYCHECKRESULT (36 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingeligibilitycheckresult;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingeligibilitycheckresult
SELECT * FROM gap_catalog.ads_owner.dlk_ads_rds_onboardingeligibilitycheckresult;

-- ============================================================================
-- 19. DLK_ADS_RDS_ONBOARDINGIDENTIFICATIONRESULT (26 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingidentificationresult;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingidentificationresult
SELECT * FROM gap_catalog.ads_owner.dlk_ads_rds_onboardingidentificationresult;

-- ============================================================================
-- 20. DLK_ADS_RDS_ONBOARDINGPROCESSRESULT (16 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingprocessresult;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingprocessresult
SELECT * FROM gap_catalog.ads_owner.dlk_ads_rds_onboardingprocessresult;

-- ============================================================================
-- 21. DLK_ADS_RDS_ONBOARDINGPROCESSSTATE (86 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingprocessstate;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingprocessstate
SELECT * FROM gap_catalog.ads_owner.dlk_ads_rds_onboardingprocessstate;

-- ============================================================================
-- 22. DLK_ADS_RDS_ONBOARDINGPRODUCTRESULT (46 records)
-- ============================================================================
TRUNCATE TABLE gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingproductresult;

INSERT INTO gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingproductresult
SELECT * FROM gap_catalog.ads_owner.dlk_ads_rds_onboardingproductresult;

-- ============================================================================
-- VALIDATION: Check record counts after copy
-- ============================================================================
SELECT 'dlk_ads_lov_rds_analyticaleventstatus' as table_name, 
       COUNT(*) as target_count,
       526 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_analyticaleventstatus

UNION ALL

SELECT 'dlk_ads_lov_rds_analyticaleventtypes' as table_name, 
       COUNT(*) as target_count,
       3836 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_analyticaleventtypes

UNION ALL

SELECT 'dlk_ads_lov_rds_conditionfulfillmentevent' as table_name, 
       COUNT(*) as target_count,
       56 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_conditionfulfillmentevent

UNION ALL

SELECT 'dlk_ads_lov_rds_dispotransactiontype' as table_name, 
       COUNT(*) as target_count,
       1372 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_dispotransactiontype

UNION ALL

SELECT 'dlk_ads_lov_rds_distraintactstate' as table_name, 
       COUNT(*) as target_count,
       84 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintactstate

UNION ALL

SELECT 'dlk_ads_lov_rds_distraintacttype' as table_name, 
       COUNT(*) as target_count,
       319 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintacttype

UNION ALL

SELECT 'dlk_ads_lov_rds_distrainteventtype' as table_name, 
       COUNT(*) as target_count,
       129 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distrainteventtype

UNION ALL

SELECT 'dlk_ads_lov_rds_distraintstate' as table_name, 
       COUNT(*) as target_count,
       154 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_distraintstate

UNION ALL

SELECT 'dlk_ads_lov_rds_errormessagebs' as table_name, 
       COUNT(*) as target_count,
       5987 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_errormessagebs

UNION ALL

SELECT 'dlk_ads_lov_rds_humantaskeventtype' as table_name, 
       COUNT(*) as target_count,
       519 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_humantaskeventtype

UNION ALL

SELECT 'dlk_ads_lov_rds_identificationaction' as table_name, 
       COUNT(*) as target_count,
       279 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identificationaction

UNION ALL

SELECT 'dlk_ads_lov_rds_identityregistrationaction' as table_name, 
       COUNT(*) as target_count,
       444 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identityregistrationaction

UNION ALL

SELECT 'dlk_ads_lov_rds_identityregistrationcasestates' as table_name, 
       COUNT(*) as target_count,
       114 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_identityregistrationcasestates

UNION ALL

SELECT 'dlk_ads_lov_rds_mepoperationstate' as table_name, 
       COUNT(*) as target_count,
       232 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_mepoperationstate

UNION ALL

SELECT 'dlk_ads_lov_rds_mepoperationtype' as table_name, 
       COUNT(*) as target_count,
       512 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_mepoperationtype

UNION ALL

SELECT 'dlk_ads_lov_rds_personidentificationstate' as table_name, 
       COUNT(*) as target_count,
       144 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_personidentificationstate

UNION ALL

SELECT 'dlk_ads_lov_rds_sendnotificationstatus' as table_name, 
       COUNT(*) as target_count,
       39 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_lov_rds_sendnotificationstatus

UNION ALL

SELECT 'dlk_ads_rds_onboardingeligibilitycheckresult' as table_name, 
       COUNT(*) as target_count,
       36 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingeligibilitycheckresult

UNION ALL

SELECT 'dlk_ads_rds_onboardingidentificationresult' as table_name, 
       COUNT(*) as target_count,
       26 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingidentificationresult

UNION ALL

SELECT 'dlk_ads_rds_onboardingprocessresult' as table_name, 
       COUNT(*) as target_count,
       16 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingprocessresult

UNION ALL

SELECT 'dlk_ads_rds_onboardingprocessstate' as table_name, 
       COUNT(*) as target_count,
       86 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingprocessstate

UNION ALL

SELECT 'dlk_ads_rds_onboardingproductresult' as table_name, 
       COUNT(*) as target_count,
       46 as expected_count
FROM gap_catalog.ads_etl_owner.dlk_ads_rds_onboardingproductresult

ORDER BY table_name;

-- ============================================================================
-- Summary Statistics
-- ============================================================================
SELECT 
    'TOTAL TABLES PROCESSED' as description,
    22 as count
UNION ALL
SELECT 
    'TOTAL EXPECTED RECORDS' as description,
    (526 + 3836 + 56 + 1372 + 84 + 319 + 129 + 154 + 5987 + 519 + 279 + 444 + 114 + 232 + 512 + 144 + 39 + 36 + 26 + 16 + 86 + 46) as count;

-- ============================================================================
-- End of Script
-- ============================================================================